{% extends 'base.html' %}

{% block content %}

<br>
<br>

<div class="container">
    <div class="row justify-content-center">
        <h1 class="w-75" style="text-align: center;">How to Authorize the use of your Spotify Account</h1>
        <br>

        <br>

        <p class="w-75">
           In order to access your personalized insights, you use give this application permission to access your listening history and top songs.
           You will be redirected to a secured page by Spotify that will enable you to give us authorization.
           Don't worry, we don't sell any of your information :)
        </p>

        <p class="w-75" style = "text-align:center;">
        
            <b>Authorize your Spotify Account </b> <a href='/instantspot'>here</a>.
            
        </p>

        <p class="w-75">
            If you haven't authorized the use of your Spotify Account, you will be redirected to a Spotify-focused page that will ask you to authorize this app to 
            access your listening history, top songs, and top artists. We require this authorization in order to access your insights, but don't worry, this will only give us 
            temporary access, and you can revoke access at any time.
        </p>

        <p class="w-75" style = "text-align:center;">
            <b>Will this put my personal information in jeopardy?</b>
        </p>
        
        <p class="w-75">
            At Spotify InSite, we value our users' privacy first and foremost. You can control which applications have access to your personal data, and our temporary access
            to your information can be revoked at any time. We recommend guarding your login information very closely, and if you have any issues concerning privacy issues, please 
            contact site administration.
        </p>
    </div>

    <hr>

    <!--FORM GOES HERE-->


    <!--FORM ENDS HERE-->

{% endblock %}