{% extends 'base.html' %}

{% block content %}


<section class="h-100 gradient-form" style="background-color: #eee;">
  <div class="container py-5 h-100">
   <div class="row d-flex justify-content-center align-items-center h-100">
     <div class="col-xl-20">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="card-body p-md-5 mx-md-4">

                <div class="text-center">
                  <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.wep"
                    style="width: 185px;" alt="logo">
                  <h4 class="mt-1 mb-5 pb-1">Edit Artist Information</h4>
                </div>
    <!--BEGINNING OF FORM-->
                <!--L47 Changed <form> to <form method = POST action = ""-->
                  <form method = "POST" action = "">
                    {{form.hidden_tag()}}
                    
                      <!--L51 - 64 Different way to outline the form, artist, pwd, confirmpwd-->
                    <div class = "form-outline mb-4">
                      <!--Form Label-->
                      {{ form.artist.label(class = "form-label") }}
  
                      <!--Error handling-->
                      {% if form.artist.errors %} <!--Beginning of if-->
                        {{ form.artist(class="form-control form-control is-invalid") }}
                       <div class = "invalid-feedback">
                        {% for error in form.artist.errors %}
                          <span>{{ error }}</span>
                        {% endfor %}
                       </div>
                      {% else %}
                        {{ form.artist(class = "form-control form-control") }}
                      {% endif %} <!-- End if -->
  
                    
  
                      
                    </div>
                    <!--genre Field-->
                    <div class = "form-outline mb-4">
                      {{ form.genre.label(class = "form-label") }}
                      <!--Error Handling-->
                      {% if form.genre.errors %} <!--Beginning of if-->
                      {{ form.genre(class="form-control form-control is-invalid") }}
                     <div class = "invalid-feedback">
                      {% for error in form.genre.errors %}
                        <span>{{ error }}</span>
                      {% endfor %}
                     </div>
                    {% else %}
                      {{ form.genre(class = "form-control form-control") }}
                    {% endif %} <!-- End if -->
  
                    </div>

  
                    <div class="text-center pt-1 mb-5 pb-1">
                      {{ form.submit(class = "btn btn-primary btn-block fa-lg gradient-custom-2 mb-3") }}
                      <!--<button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button">Register </button>-->
  
                    </div>
                  
  
                    
  
                  </form>

              </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
              <div class="text-black px-3 py-4 p-md-5 mx-md-4">
                <h4 class="mb-4">Spotify Insite</h4>
                <p class="small mb-0">This website is not officially recognized or supported by Spotify. All functionality has been facilitated through the use of Spotify's free-to-use 
                  API, the use of which has been approved by the SpotifyforDevelopers team.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


{% endblock %}